html, body, #root {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}


.page-main {
  overflow: auto;
  padding-bottom: 30px;
}

.gdpr-label {
  font-size: 12px;
}

.message-success {
  font-size: 12px;
  text-align: center;
  color: #fff;
  padding: 6px;
  border-radius: 4px;
  margin-bottom: 6px;
}